{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid py-5 taco" style="background-image: url(/../../media/background/bg-main-image-gallery.jpg);">
    <div class="container-fluid my-0 taco-espacio"></div>
    <div class="container-fluid my-5 text-center taco-text">
        <div class="row"></div>
        <div class="col align-self-center">
            <!--<h2 class="user-select-none">GALERÍA</h2>-->
        </div>
    </div>
</div>
<form method="POST" action="" enctype="multipart/form-data">
{% csrf_token%}
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-5 border-end">
            <p>{{ painting_form.image }}</p>
        </div>
        <div class="col-md-6 ">
            <p class="lead">{{ painting_form.name }}</p>
            <p class="lead">{{ painting_form.description }}</p>
            <p class="lead">{{ painting_form.support }}</p>
            <p class="lead">{{ painting_form.technique }}</p>
            <p class="lead">{{ painting_form.pheight }}</p>
            <p class="lead">{{ painting_form.pwidth }}</p>
            <p class="lead">{{ painting_form.category }}</p>
            <p class="lead">{{ painting_form.price }}</p>
            <p class="lead">{{ painting_form.available }}</p>
            <hr class="my-2">
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary my-3 mx-1" href="{% url 'store:artist_paintings' user.artist.pk %}">Cancelar</a>
                <button class="btn btn-primary my-3 mx-1">Crear</button>
            </div>
        </div>
    </div>
</div>
</form>


<!--<div class="container-fluid d-flex border justify-content-center m-2">
    <h1> - ADD PAINTINGS HERE - </h1>
</div>
{% if submitted %}
   Añadido correctamente.
{% else %}
<div class="container-fluid d-flex border justify-content-center m-2">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ painting_form.as_p }}
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>

{% endif %}-->


{% endblock %}
