{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid py-5 taco" style="background-image: url(/../../media/background/bg-main-image-artist.jpg);">
    <div class="container-fluid my-0 taco-espacio"></div>
    <div class="container-fluid my-5 text-center taco-text">
        <div class="row"></div>
        <div class="col align-self-center">
            <!--<h2 class="user-select-none">ARTISTAS</h2>-->
        </div>
    </div>
</div>
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-5 border-end">
            <figure class="figure">
                {% if artist.image %}
                <img class="figure-img img-fluid rounded"  src="{{ artist.image.url }}" alt="{{ artist }}" />
                {% else %}
                <img class="figure-img img-fluid rounded" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                {% endif %}
            </figure>
        </div>
        <div class="col-md-6">
            <h1 class="display-5 fw-bolder">{{ artist|title }}</h1>
            <hr class="hr" />
            <p class="lead">{{ artist.bio }}</p>
            {% if artist.url %}
            <a href="{{artist.web_url}}" target="_blank"><p class="lead">web</p></a>
            {% endif %}
            {% if artist.inst_url %}
            <a href="{{artist.inst_url}}" target="_blank"><p class="lead">instagram</p></a>
            {% endif %}
            {% if artist.fcbk_url %}
            <a href="{{artist.fcbk_url}}" target="_blank"><p class="lead">facebook</p></a>
            {% endif %}
            {% if artist.x_url %}
            <a href="{{artist.x_url}}" target="_blank"><p class="lead">X</p></a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Related items section-->
{% if paintings %}
<section class="py-1">
    <div class="container px-4 px-lg-5 mt-3 text-center">
        <h3 class="fw-bolder mb-4 border-bottom border-dark">OBRAS</h3>
        <div class="grid">
        {% for painting in paintings %}
            <div class="grid-item">
            {% if painting.image %}
                <a href="{% url 'store:painting_detail' painting.pk %}">
                    <img class="img-fluid object-fit-cover rounded gallery-img" src="{{ painting.image.url }}" alt="{{ painting }}">
                </a>
            {% else %}
                <a href="#">
                    <img class="img-fluid object-fit-cover rounded gallery-img" src="https://picsum.photos/900/500.jpg" alt="no image">
                </a>
            {% endif %}
            </div>
        {% endfor%}
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
