{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid py-5 taco" style="background-image: url(/../../media/background/bg-main-image-gallery.jpg);">
    <div class="container-fluid my-0 taco-espacio"></div>
    <div class="container-fluid my-5 text-center taco-text">
        <div class="row"></div>
        <div class="col align-self-center">
            <!--<h2 class="user-select-none">GALERÍA</h2>-->
        </div>
    </div>
</div>
<div class="container-fluid my-3" style="overflow: hidden;">
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">FECHA PUB.</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">DISPONIBLE</th>
                </tr>
            </thead>
            <tbody>
                {% for artist_painting in artist_paintings %}
                <tr>
                    <td><img class="painting-image" src="{{ artist_painting.image.url }}" alt="{{ artist_painting.name }}"></td>
                    <td>{{ artist_painting.name }}</td>
                    <td>{{ artist_painting.pub_date }}</td>
                    <td>{{ artist_painting.price }}</td>
                    <td>{{ artist_painting.available }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
