{% extends "base.html" %}

{% block page_content %}
<!--<div class="container-fluid border-top">-->
<div class="container-fluid py-5 burrito" style="background-image: url(/../../media/background/bg-main-image-gallery.jpg);">
    <div class="container-fluid my-0" style="height: 100px;"></div>
    <div class="container-fluid my-5 text-center" style="height: 50px;">
        <div class="row"></div>
        <a class="btn btn-outline-dark" href="{% url 'store:gallery' 1 %}" role="button">
            <h5 class="my-0">GALERÍA</h5>
        </a>
    </div>
</div>
<div class="container-fluid py-5 burrito" style="background-image: url(/../../media/background/bg-main-image-artist.jpg);">
    <div class="container-fluid my-0" style="height: 100px;"></div>
    <div class="container-fluid my-5 text-center" style="height: 50px;">
        <div class="row"></div>
        <a class="btn btn-outline-dark" href="{% url 'store:artist' %}" role="button">
            <h5 class="my-0">ARTISTAS</h5>
        </a>
    </div>
</div>
<div class="container-fluid py-5 burrito" style="background-image: url(/../../media/background/bg-main-image-process.jpg);">
    <div class="container-fluid my-0" style="height: 100px;"></div>
    <div class="container-fluid my-5 text-center" style="height: 50px;">
        <div class="row"></div>
        <a class="btn btn-outline-dark disabled" href="{% url 'store:process' %}" role="button">
            <h5 class="my-0">PROCESO</h5>
        </a>
    </div>
</div>
<!--<div class="container-fluid py-5 burrito" style="background-image: url(/../../media/background/bg-main-image-future.jpg);">
    <div class="container-fluid my-0" style="height: 100px;"></div>
    <div class="container-fluid my-5 text-center" style="height: 50px;">
        <div class="row"></div>
        <a class="btn btn-outline-dark disabled" href="{% url 'store:future' %}" role="button">
            <h5 class="my-0">FUTURO</h5>
        </a>
    </div>
</div>-->
<div class="container-fluid py-5 burrito" style="background-image: url(/../../media/background/bg-main-image-news.jpg);">
    <div class="container-fluid my-0" style="height: 100px;"></div>
    <div class="container-fluid my-5 text-center" style="height: 50px;">
        <div class="row"></div>
        <a class="btn btn-outline-dark disabled" href="{% url 'store:news' %}" role="button">
            <h5 class="my-0">NOVEDADES</h5>
        </a>
    </div>
</div>
{% endblock %}
