{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid py-5 taco" style="background-image: url(/../../media/background/bg-main-image-gallery.jpg);">
    <div class="container-fluid my-0 taco-espacio"></div>
    <div class="container-fluid my-5 text-center taco-text">
        <div class="row"></div>
        <div class="col align-self-center">
            <!--<h2 class="user-select-none">GALERÍA</h2>-->
        </div>
    </div>
</div>
<form method="POST" action="{% url 'store:update_painting' painting.pk %}" enctype="multipart/form-data">
{% csrf_token%}
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-5 border-end">
            <figure class="figure">
                {% if painting.image %}
                <img class="figure-img img-fluid rounded"  src="{{ painting.image.url }}" alt="{{ painting }}" id="zoom"/>
                <!--</a>-->
                {% else %}
                <img class="figure-img img-fluid rounded" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                {% endif %}
            </figure>
            {{ painting_form.image }}
        </div>
        <div class="col-md-6 ">
            <p class="lead">{{ painting_form.name }}</p>
            <p class="lead">{{ painting_form.description }}</p>
            <p class="lead">{{ painting_form.support }}</p>
            <p class="lead">{{ painting_form.technique }}</p>
            <p class="lead">{{ painting_form.pheight }}</p>
            <p class="lead">{{ painting_form.pwidth }}</p>
            <p class="lead">{{ painting_form.category }}</p>
            <p class="lead">{{ painting_form.price }}</p>
            <p class="lead">{{ painting_form.available }}</p>
            <hr class="my-2">
            <div class="d-flex justify-content-end">
                <a class="btn btn-secondary my-3 mx-1" href="{% url 'store:painting_detail' painting.pk %}">Cancelar</a>
                <button class="btn btn-primary my-3 mx-1">Update</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
