{% extends 'base.html' %}

{% block page_content %}
<div class="card text-center">
    <div class="card-header">
        login
    </div>
    <form action="" method=POST>
        {% csrf_token %}
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-secondary" />
        </div>
    </form>
    <div class="card-footer">
    </div>
</div>

{% endblock page_content %}
